.row .form-floating>label {
    padding: 1rem 1.75rem;
}

.modal-header,.modal-footer{
    border:unset
}
.modal-body{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}

.modal.show .modal-dialog {
    -webkit-transform: translate(0,25vh);
    transform: translate(0,25vh);
}

.form-floating textarea{
    min-height: 100px;
}

/**switch**/

* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .toggle, .toggle:before {
    transition-property: white, transform, visibility;
    transition-duration: 0.25s;
    transition-timing-function: ease-in, cubic-bezier(0.6,0.2,0.4,1.5), linear;
  }
  .toggle:before, .slot, .slot__label {
    display: block;
  }
  .toggle:before, .curtain {
    position: absolute;
  }
  .toggle:checked, .curtain {
    background-color: #0d6efd;
  }
  .toggle:focus {
    outline: transparent;
  }
  .toggle {
    border-radius: 0.75em;
    box-shadow: 0 0 0 0.1em inset;
    cursor: pointer;
    position: relative;
    margin-right: 0.25em;
    width: 3em;
    height: 1.5em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    color: black;
  }
  .toggle:before {
    background: currentColor;
    border-radius: 50%;
    content: "";
    top: 0.2em;
    left: 0.2em;
    width: 1.1em;
    height: 1.1em;
  }
  .toggle:checked:before {
    transform: translateX(1.5em);
  }
  .toggle:checked ~ .slot .slot__label, .slot__label:nth-child(2) {
    transform: translateY(-50%) scaleY(0);
  }
  .toggle:checked ~ .slot .slot__label:nth-child(2) {
    transform: translateY(-100%) scaleY(1);
  }
  .toggle:checked ~ .curtain {
    transform: scaleX(1);
  }
  .slot {
    color: black;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    line-height: 1;
    overflow: hidden;
    height: 1em;
    margin: 0 5px ;
  }
  .slot__label {
    transform-origin: 50% 0;
  }
  .slot__label:nth-child(2) {
    transform-origin: 50% 100%;
  }
